<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @sample.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @sample.end %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
